
@import "animate.min.css";
@import "component.css";

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-69m2y9');
	src:url('../fonts/icomoon.eot?#iefix-69m2y9') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-69m2y9') format('woff'),
		url('../fonts/icomoon.ttf?-69m2y9') format('truetype'),
		url('../fonts/icomoon.svg?-69m2y9#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-jQuery:before {
	content: "\e601";
}
.icon-mysql:before {
	content: "\e602";
}
.icon-php:before {
	content: "\e603";
}
.icon-drupal:before {
	content: "\e604";
}
.icon-wordpress:before {
	content: "\e605";
}

/*-----------------------------------------------------------------------------------*/
/* GENERAL
/*-----------------------------------------------------------------------------------*/

body{
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	color: #323231;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

p{
	font-size: 1.2em;
}
.container-full {
  margin: 0 auto;
  width: 100%;
}
.lead{
	font-weight: 300;
}

button {
	display: inline-block;
	margin-bottom: 0;
	margin-bottom: 10px;
	padding: 6px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	border-radius: 5px;
	vertical-align: middle;
	text-align: center;
	white-space: nowrap;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.428571429;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.btn {
	background: none;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
	padding: 20px 60px;
	width: 250px;
    display: block;
    margin: 0 auto;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	top: -50%;
}
.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn:hover,
.btn:active {
	background: none;
	border: 1px solid #FFF;
	color: #fff;
}

.visibility{
	visibility: hidden;
}

.animated{
	visibility: visible!important;
}

/*-----------------------------------------------------------------------------------*/
/*	KEY COLOR
/*-----------------------------------------------------------------------------------*/
.white {color:white;}
.blue {color: #4eb4dc;}
.pink{color: #dc006c;}
/*---- Typography ----*/ 
.payoff h1,
.details .carousel,
.social a:hover{
	color: #4eb4dc;
}

.competences p{
	color: #fff;
}

/*---- Background ----*/
.features,
.detail .carousel-indicators .active {
	background: #dc006c;	
}
	
/*-----------------------------------------------------------------------------------*/
/* NAVBAR
/*-----------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------*/
/* HEADER 
/*-----------------------------------------------------------------------------------*/

header{
	padding: 125px 0px 0px 0px;
	height: 968px;
	background: #282828;
}
header h1.nome{
  font: 80px 'Arial Narrow', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -4px;
  padding: 20px 0 5px 0;
}
header h1.nome span {
  color: #4eb4dc;
  margin-right: -25px;
  transform: rotateY(180deg);/* using Prefix free */
  display: inline-block;/* required for transform */
}
ul.small-social{
	list-style-type: none;
	padding: 0px;
	margin: 0px;

}
ul.small-social li{
	display: inline;
	margin: 10px;
}
.web-design{
	position: relative;
	top: -50px;	
}
header h2.web{
 font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 70px;
  position:relative;
  top: 80px;
  right: 120px;
  z-index: 200;
  color:#dc006c; 
}
.design {
  height: 200px;
  width: 600px;
  margin: 0 auto;
  margin-bottom: 70px;
  position: relative;
}

#water {
  overflow: hidden;
  height: 200px;
  width: 600px;
  position: relative;
  /*outline: 1px solid white;*/
}

#water-txt {
	color: #3a3a3a;
	font-weight: 700;
	font-family: 'Roboto Condensed', sans-serif;	
  position: relative;
  font-size: 12em;
  line-height: 1;
  margin:0;
  z-index: 100;
}

#sub-text {
  position: relative;
  top:14px;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: .875em;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align:left;
}
.scroll{
	position: relative;
	top:-30px;
}
header p.cv{
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-size: 1.2em;
  font-weight: 100;
  position:relative;
  top:90px;
  margin-right:70px;
  color: #dc006c;
}

.run-arrow-run {
	width:119px;
	height:125px;
	padding-top:15px;
	margin:0 auto;
}
.run-arrow-run:hover {cursor:pointer;}
.run-arrow-run li {
	width:43px;
	height:24px;
	opacity:0.8;
	float:left;
	clear:left;
	background:url(http://bit.ly/QtZ5XV) no-repeat;
	list-style:none;
	transition:all;
  -webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-webkit-animation-duration:5s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear;
	-moz-animation-duration:5s;
	-o-animation-iteration-count:infinite;
	-o-animation-timing-function:linear;
	-o-animation-duration:5s;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
	animation-duration:5s;
}
@keyframes blink1{

	  1% {opacity:.3;}
	  3% {opacity:1;}
	  10% {opacity:.3;}
}
@-webkit-keyframes blink1{

	  1% {opacity:.3;}
	  3% {opacity:1;}
	  10% {opacity:.3;}
}
@-moz-keyframes blink1{

	  1% {opacity:.3;}
	  3% {opacity:1;}
	  10% {opacity:.3;}
}
@-o-keyframes blink1{

	  1% {opacity:.3;}
	  3% {opacity:1;}
	  10% {opacity:.3;}
}
.arrow1 {
	-webkit-animation-name:blink1;
	-moz-animation-name:blink1;
	-o-animation-name:blink1;
	animation-name:blink1;
}
@keyframes blink2{
	  
	  3% {opacity:.3;}
	  5% {opacity:1;}
	  12% {opacity:.3;}
}
@-webkit-keyframes blink2{
	  
	  3% {opacity:.3;}
	  5% {opacity:1;}
	  12% {opacity:.3;}
}
@-moz-keyframes blink2{
	  
	  3% {opacity:.3;}
	  5% {opacity:1;}
	  12% {opacity:.3;}
}
@-o-keyframes blink2{
	  
	  3% {opacity:.3;}
	  5% {opacity:1;}
	  12% {opacity:.3;}
}
.arrow2 {
	  -webkit-animation-name:blink2;
	  -moz-animation-name:blink2;
	  -o-animation-name:blink2;
	  animation-name:blink2;
}
@keyframes blink3{

	  5% {opacity:.3;}
	  7% {opacity:1;}
	  15% {opacity:.3;}
}
@-webkit-keyframes blink3{

	  5% {opacity:.3;}
	  7% {opacity:1;}
	  15% {opacity:.3;}
}
@-moz-keyframes blink3{

	  5% {opacity:.3;}
	  7% {opacity:1;}
	  15% {opacity:.3;}
}
@-o-keyframes blink3{

	  5% {opacity:.3;}
	  7% {opacity:1;}
	  15% {opacity:.3;}
}
.arrow3 {
	  -webkit-animation-name:blink3;
	  -moz-animation-name:blink3;
	  -o-animation-name:blink3;
	  animation-name:blink3;
}
@keyframes blink4{
	  7% {opacity:.3;}
	  9% {opacity:1;}
	  17% {opacity:.3;}
}
@-webkit-keyframes blink4{
	  7% {opacity:.3;}
	  9% {opacity:1;}
	  17% {opacity:.3;}
}
@-moz-keyframes blink4{
	  7% {opacity:.3;}
	  9% {opacity:1;}
	  17% {opacity:.3;}
}
@-o-keyframes blink4{
	  7% {opacity:.3;}
	  9% {opacity:1;}
	  17% {opacity:.3;}
}
.arrow4 {
	-webkit-animation-name:blink4;
	  -moz-animation-name:blink4;
	  -o-animation-name:blink4;
	  animation-name:blink4;
}
@keyframes blink5{
	  9% {opacity:.3;}
	  11% {opacity:1;}
	  19% {opacity:.3;}
}
@-webkit-keyframes blink5{
	  9% {opacity:.3;}
	  11% {opacity:1;}
	  19% {opacity:.3;}
}
@-moz-keyframes blink5{
	  9% {opacity:.3;}
	  11% {opacity:1;}
	  19% {opacity:.3;}
}
@-o-keyframes blink5{
	  9% {opacity:.3;}
	  11% {opacity:1;}
	  19% {opacity:.3;}
}
.arrow5 {
	  -webkit-animation-name:blink5;
	  -moz-animation-name:blink5;
	  -o-animation-name:blink5;
	  animation-name:blink5;
}
@keyframes blink6{
	  11% {opacity:.3;}
	  13% {opacity:1;}
	  21% {opacity:.3;}
}
@-webkit-keyframes blink6{
	  11% {opacity:.3;}
	  13% {opacity:1;}
	  21% {opacity:.3;}
}
@-moz-keyframes blink6{
	  11% {opacity:.3;}
	  13% {opacity:1;}
	  21% {opacity:.3;}
}
@-o-keyframes blink6{
	  11% {opacity:.3;}
	  13% {opacity:1;}
	  21% {opacity:.3;}
}
.arrow6 {
	  -webkit-animation-name:blink6;
	  -moz-animation-name:blink6;
	  -o-animation-name:blink6;
	  animation-name:blink6;
}

/*-----------------------------------------------------------------------------------*/
/* COMPETENCES + SOFTWARE
/*-----------------------------------------------------------------------------------*/

.competences{
	overflow: hidden;
	padding: 150px 0px 150px 0px;
	min-height: 400px;
	color: white;
	background: #4eb4dc;
}
.software{
	overflow: hidden;
	padding: 150px 0px 150px 0px;
	min-height: 400px;
	color: white;
	background: #dc006c;
}
.competences p, .software p {
	font-weight: 400;
}
.competences h1{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 300;
	padding: 0 0 80px 0;
}
.competences h2, .software h2{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 300;
}

.competences .circle, .software .circle{
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	padding-top: 33px;
	width: 150px;
	height: 150px;
	border: 2px solid #ffffff;
	border-radius: 100%;
	text-align: center;
	
}

.competences span.glyphicon, .competences i, .software i{
	margin-top: 3px;
	color: #ffffff;
	font-size: 5em;
}

h2.adobe {position:relative;top:110px;}


/*-----------------------------------------------------------------------------------*/
/*	ADOBE CS
/*-----------------------------------------------------------------------------------*/
.cs6{
	overflow: hidden;
	padding: 0px 0px 0px 0px;
	min-height: 150px;
	background: white;
}



/*-----------------------------------------------------------------------------------*/
/*	SKILLS
/*-----------------------------------------------------------------------------------*/

.skills{
	overflow: hidden;
	padding: 100px 0px 100px 0px;
	min-height: 200px;
	background: #333;
	background-position: center top;
	background-repeat: repeat-x;
	color: white;
}

h1.experience {color: white;}
#do .service
{
	min-height:100px;;
	margin: 0;
	padding:30px;
	color:#4eb4dc;
}
	
/*-----------------------------------------------------------------------------------*/
/*	DETAIL
/*-----------------------------------------------------------------------------------*/

.detail{
	overflow: hidden;
	padding: 50px 0px 0px 0px;
	min-height: 500px;
}

.detail .title{
	margin-bottom: 80px;
	text-align: center;
}

.detail .features .row{
	margin-bottom: 40px;
}

.detail .carousel h1{
	font-size: 3.8em;
}
.detail .carousel h1, .detail p{
	text-align: left;
	font-weight: 300;
}

.detail p{
	color: #aaa;
}

.detail .carousel-control{
	background: none;
}

.detail .carousel-indicators {
	position: relative;
	bottom: 0;
	left: 0;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	padding-bottom: 8px;
	width: 100%;
	border-top: 1px solid #eee;
	background: #ffffff;
}

.detail .carousel-indicators .active {
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
}

.detail .carousel-indicators li {
	display: inline-block;
	margin: 1px;
	width: 45px;
	height: 5px;
	border: none;
	border-radius: 0px;
	background: #eeeeee;
	text-indent: -999px;
	cursor: pointer;
}
.detail .center{margin:0 auto;}
.detail h1.center{text-align:center;}
/*-----------------------------------------------------------------------------------*/
/*	FEATURES
/*-----------------------------------------------------------------------------------*/

.features{
	overflow: hidden;
	padding: 150px 0px 150px 0px;
	min-height: 400px;
	color: black;
}

.features p {
	font-weight: 400;
}

.features h2{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 300;
}

.features .circle{
	box-sizing: border-box;
	margin-right: auto;
	margin-left: auto;
	padding-top: 33px;
	width: 150px;
	height: 150px;
	border: 2px solid #ffffff;
	border-radius: 100%;
	text-align: center;
	
}

.features span.glyphicon, .features i{
	margin-top: 3px;
	color: #ffffff;
	font-size: 5em;
}

/*-----------------------------------------------------------------------------------*/
/*	SOCIAL
/*-----------------------------------------------------------------------------------*/

.social{
	overflow: hidden;
	padding: 80px 0px 150px 0px;
	min-height: 350px;
	background: #666;
	color: white;
}

.social h2{
	color: white;
}

.social a {
	margin-left: 10px;
	color: #FFF;
	font-size: 5em;
	transition: all 0.3s;
}

.social a:hover{
	text-decoration: none;
	cursor: pointer;
	
}

/*-----------------------------------------------------------------------------------*/
/*	GET-IT
/*-----------------------------------------------------------------------------------*/

.get-it{
	padding: 100px 0px 160px 0px;
	text-align: center;
}

.get-it button.app-store{
	width: 152px;
	height: 52px;
	background: url(../img/badge-appstore.png) #373737 no-repeat 0px 5px;
	color: white;
}

.get-it hr{
	margin-top: 3em;
	margin-bottom: 3em;
}

.get-it ul{
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
}

.get-it ul li{
	display: inline-block;
	margin-left:30px;
}

.get-it ul li:first-child{
	margin-left: 0px;
}

.get-it ul li a{
	color: #aaa;
	font-size: 1.2em;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}

.get-it ul li a:hover{
	color: #3A3A3A;
	text-decoration: none;
	cursor: pointer;
}

/*-----------------------------------------------------------------------------------*/
/*	MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

@media (max-width:768px) {
	
	header{
		min-height: 768px;
		height: 100%;
	}
	
	.navbar-nav {
		float: left;
		text-align: left;
}

	
}

@media (max-width:992px) {

.detail .carousel h1, .detail p{
	text-align: center;
}

.detail p{
		margin-bottom: 60px;
}

header, .social{
	background-position-y: 0px;
	background-size: 200%;
}

.payoff{
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 200px;
}

.payoff h1{
	font-size: 24px;
}

.features .col-md-4{
	margin-bottom: 60px;
}

}

@media (max-width:480px){

	header {
		height: 480px;
	}
	header .carousel-iphone, .detail .app-screenshot{
		width: 280px;
	}
	
	header .carousel, .detail .app-screenshot img{
		padding-top: 85px;
		width: 245px;
	}
	
	.detail .app-screenshot img{
		margin-top: -12px;
		padding-top: 0px;
	}
	
	header{
		padding-top: 30px;
		padding-bottom: 0px;
	}
	
	header h1{
		font-size: 70px;
	}
	
	.purchase{
		padding-top: 50px;
	}
	
	.features col-md-4{
		margin-bottom: 50px;
	}
	
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
    .purchasebutton.app-store, .get-it button.app-store{
        background: url(../img/badge-appstore@2x.png) #3a3a3a no-repeat 0px 5px;
        background-size: 98%;
    	color: white;
    }
}